
body{
    background-color: #051622;
    color: #1BA098;
}

header{
    height: 130px;
    width: 100%;
    display: block;
}

nav{
    overflow: hidden;
}

nav ul li{
    display:inline;
    padding: 0px 15px;
}

nav ul img{
    height: 80px;
    width: 80px;
    padding-left: 25%;
}

nav ul li a{
    color:#1BA098;
    padding: 14px 16px;
    padding-bottom: 5%;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: black;
}
