body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 10px;
}
.fa-brands.fa-instagram.fa-2xl{
    color: white;
}
.fa-brands.fa-instagram.fa-2xl:hover{
    color: hsl(240, 2%, 20%);
}
.fa-brands.fa-x-twitter.fa-2xl{
    color: white;
}
.fa-brands.fa-x-twitter.fa-2xl:hover{
    color: hsl(240, 2%, 20%);
}
.fa-brands.fa-tiktok.fa-2xl{
    color: white;
}
.fa-brands.fa-tiktok.fa-2xl:hover{
    color: hsl(240, 2%, 20%);
}
