*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainmenu{
    display: flex;
    list-style: none;
}
nav .mainmenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
nav .mainmenu li a:hover{
    background: hsl(240, 89%, 10%);
}
nav .openmenu{
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainmenu .closemenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainmenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainmenu .closemenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openmenu{
        display: block;
    }
    nav .mainmenu li a:hover{
        background: none;
        color: hsl(240, 89%, 10%);
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
}

.firstimage{
    width: 100%;
    height: 720px;
}